body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#home-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: url('https://raw.githubusercontent.com/vferreirak/thrushes/main/homescreen.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    z-index: 1;
}

#home-screen h1, #home-screen p, #username, button {
    position: relative;
    z-index: 2;  /* Ensures these elements are above the overlay */
}

#home-screen h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

#home-screen p {
    font-size: 20px;
    margin-bottom: 20px;
}

#username {
    padding: 15px;
    font-size: 18px;
    border: 2px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    max-width: 90%;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #45a049;
}

@media only screen and (max-width: 600px) {
    #home-screen h1 {
        font-size: 36px;
    }

    #username {
        font-size: 16px;
        width: 250px;
    }

    button {
        padding: 12px 28px;
        font-size: 18px;
    }
}
